{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}
    {% static 'img/no_image.png' %}{% endif %}" width="900px" height="250px">
    <h1>{{ product.name }}</h1>
    <p>Price: ${{ product.price }}</p>
    <p style="color:#045919;">{% if product.available %}On stock</p>{% else %}
        <p style="color:#380808;">Out of stock{% endif %}</p>
    <h2>
        <a href="{{ product.category.get_absolute_url }}">
            <p>Product category: {{ product.category }}<p/>
        </a>
    </h2>
    <p class="description">About product:
        {{ product.description|linebreaks }}</p>
</div>
{% endblock %}