{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="background-color:#fff;font-size:23px;">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="/password_reset" style="background-color:#fff;margin:5px;padding:1px">Forgot password ?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted" style="font-size:20px;">
                Need an Account? <a class="ml-2" style="background-color:#fff;font-size:23px;" href="/register">Register Here</a>
            </small>
        </div>
    </div>
{% endblock content %}