{% extends 'shop/base.html' %}

{% block title %}About us Us{% endblock title %}

{% block content %}
<div class="about-section">
  <h1 style="color:#1c0d02;font-weight:bold;">About Us</h1>
</div>
<div class="about_us">
  <img src="media/emiliya_ivanova.jpg"  alt="Emiliya" style="object-fit:cover;width:200px;height:200px;">
    <h1 style="color:#1c0d02;font-weight:bold;float:right;padding-right:400px;">Emiliya Ivanova - Designer & Founder</h1>
    <h2 style="color:#1c0d02;font-weight:bold;float:right;padding-right:830px;margin:-70px">About info here</h2>
</div>
{% endblock %}