{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Emiliya's Art</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="icon" href="media/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Emiliya's Art</a>
</div>
<div class="footer">
    <footer>&copy; Designed by D.Hristov</footer>
</div>
<body>
    <marquee direction="scroll">Website in development.</marquee>
</body>
<div class="topnav">
    <a class="active"></a>
    <a href="/" style="float:left;">Home</a>
    <a href="/about_us" style="float:left;">About us</a>
    <a href="/contact" style="float:left;">Contact us</a>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>

