{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Emiliya's Wood Art</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="icon" href="media/favicon.png">
</head>
<body>
    <div id="header">
      <a href="/" class="logo">Emiliya's Wood Art</a>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
        </style>
    </div>
    <div class="topnav" >
        <a class="active"></a>
        <a href="/" style="float:left;">Home</a>
        <a href="/contact" style="float:left;">Contact us</a>
    </div>
<div id="content">
{% block content %}
{% endblock %}
</div>
    <div class="footer">
        <footer>&copy; Designed by Dimitar Hristov 2022</footer>
    </div>
</body>
</html>

