{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Emiliya's Art</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="icon" href="media/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=0.2">
</head>
<body style="background-color:#e3e2de;">
<div id="header">
    <a href="/" class="logo">Emiliya's Art</a>
</div>
<div id="subheader">
    <div class="cart" style="float:right;background-color:#333333; color:#ffff; margin:10px;">
       {% with total_items=cart|length %}
       {% if total_items > 0 %}
            Your cart:
            <a href="{% url 'shop:cart_detail' %}" style="color:#ffff;">
            {{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
            </a>
       {% else %}
            Your cart is empty.
       {% endif %}
       {% endwith %}
    </div>
</div>
<body>
    <marquee direction="scroll">Website in development.</marquee>
</body>
<div class="topnav">
    {% if user.is_authenticated %}
        <a class="active"></a>
        <a href="/" style="float:left;">Home</a>
        <a href="/about_us" style="float:left;">About us</a>
        <a href="/contact" style="float:left;">Contact us</a>
        <a href="/logout" style="float:right;">Log Out</a>
        <a href="/profile" style="float:right;">Profile</a>
        <img class="rounded-circle" src="{{ user.profile.image.url }}"
             style="max-height:30px;width:30px;;border-radius: 50%;float:right;margin:10px;">
        <p style="float:right;color:#fff; text-decoration:underline;margin:13px">
            Welcome: {{ user.username }}</p>
    {% else %}
        <a class="active"></a>
        <a href="/" style="float:left;">Home</a>
        <a href="/about_us" style="float:left;">About us</a>
        <a href="/contact" style="float:left;">Contact us</a>
        <a href="/register" style="float:right;">Register</a>
        <a href="/login" style="float:right;">Log In</a>
    {% endif %}
</div>
<div id="content">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="background-color:white;color:#045919;float:right;font-size:18px;">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>

<div class="footer">
    <footer>&copy; Designed by D.Hristov</footer>
</div>
</html>

