{% extends 'shop/base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block content %}
<h1>Contact us</h1>

{% if submitted %}
    <p class="success">
        Your message was sent successfully, Thank you!
    </p>
{% else %}
    <form action="" method="post">
    <table>
        {{form.as_table}}
        <tr>
            <td>&nbsp</td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
        {% csrf_token %}
    </form>
{% endif %}
<div class="mapouter">
    <p style="background-color:#5993bb;color:white;font-weight:bold;font-size:30px">Emiliya's Wood Art Gallery Location</p>
    <div class="gmap_canvas"><iframe width="1200" height="500" id="gmap_canvas"
    src="https://maps.google.com/maps?q=Brighton-Le-Sands,%20Sydney&t=&z=13&ie=UTF8&iwloc=&output=embed"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://123movies-to.org">123movies</a>
        <br><style>.mapouter{position:relative;text-align:center;height:500px;width:1150px;}</style>
        <a href="https://www.embedgooglemap.net">embed maps on website</a>
        <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:1150px;}</style>
    </div></div>
{% endblock content %}